* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    
}
.container{
    width: 1300px;
    margin: 0 auto;
}

.bais_but {
    width: 40px;
    height: 1px;
    background: black;
    position: relative;
}

.bais_but::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: black;
    position: absolute;
    top: 9px;
}

.bais_but::before {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: black;
    position: absolute;
    top: -9px;
}

header {
    padding: 60px 20px;
}

.bais {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bais li:first-child {
    color: var(--Accent, #D1A954);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

.bais li:nth-child(2) {
    color: var(--Accent, #D1A954);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

.bais li {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

.bais ul {
    display: flex;
    column-gap: 15px;
}

.baisal_box{
    background: url(/restoran/image/Rectangle\ 2.png);
    width: 580px;
    height: 650px;
    position: relative;
}
.baisal_box2{
    background: url(/restoran/image//Rectangle\ 2\ \(2\).png);
    width: 580px;
    height: 650px;
    position: relative;
}
.baisal_box3{
    background: url(/restoran/image//Rectangle\ 2\ \(3\).png);
    width: 580px;
    height: 650px;
    position: relative;
}
.baisal_box_box{
    width: 580px;
    height: 166px;
    background: rgba(209, 169, 84, 0.90);
    position: absolute;
    bottom: 0;
}
.baisal_box_box h2{
    color: #FFF;

text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
padding: 41px 0 20px;
}
.baisal_box_box p{
    color: #FFF;

text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 135%; 
}
.baisal_box_box::after{
    content: "";
    position: absolute;
    width: 550px;
    height: 126px;
border: 1px solid rgba(255, 255, 255, 0.50);
top: 20px;
left: 15px;
}
.baisal{
    padding: 60PX 0 169px;
}


.bais img{
    width: 160px;
    height: 87px;

}
.img2{
width: 920px;
height: 479px;
position: relative;
}
.img3{
width: 80px;
height: 80px;
position: absolute;
left: 47.3%;
bottom: 37%;
}
.izat2{
width: 350px;
height: 205px;
}
.izat2 p {
font-size: 14px;
font-style: normal;
font-weight: 300;
}
.welcome {
    margin: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img4 {
margin: 20px;
}
.welcome2_2 {
display: flex;
}
.img5 {
    margin: 20px;
}
.welcome2_2 p{
font-size: 16px;
font-style: normal;
font-weight: 300;

}










































.context {

    background: white;
    text-align: center;
    position: relative;
}

.context h6 {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
}

.context p {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 200;
}


.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.speciality-heading{
  font-size: 40px;
  padding: 1.5rem 0;
  text-align: center;
  color: #333;
}
.speciality-heading span{
  color: #e58f00;
}
.main-box-speciality{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main-box-speciality .box{
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid var(--btn-color);
  cursor: pointer;
  border-radius: 1rem;
}
.main-box-speciality .box .image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  left: 0;
}

.main-box-speciality .box:hover .image{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}

.main-box-speciality .box .content{
  background: white;
  text-align: center;
  padding: 2rem;
}
.main-box-speciality .box .content img{
  margin: 1.5rem 0;
}
.speciality .main-box-speciality .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.speciality .main-box-speciality .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}
h1{
    text-align: center;
}