* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}

.burger__btn {
    width: 40px;
    height: 1px;
    background: black;
    position: relative;
}

.burger__btn::after {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: black;
    position: absolute;
    top: 9px;
}

.burger__btn::before {
    content: '';
    display: block;
    width: 40px;
    height: 1px;
    background: black;
    position: absolute;
    top: -9px;
}

header {
    padding: 60px 20px;
}

.bais {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bais li:first-child {
    color: var(--Accent, #D1A954);
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

.bais li:nth-child(2) {
    color: var(--Accent, #D1A954);
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}

.bais li {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.65px;
    text-transform: uppercase;
}


.burger {
    display: flex;
    column-gap: 15px;

}
.baisal_box{
    background: url(/restoran/image/Rectangle\ 2.png);
    width: 580px;
    height: 650px;
    position: relative;
}
.baisal_box2{
    background: url(/restoran/image//Rectangle\ 2\ \(2\).png);
    width: 580px;
    height: 650px;
    position: relative;
}
.baisal_box3{
    background: url(/restoran/image//Rectangle\ 2\ \(3\).png);
    width: 580px;
    height: 650px;
    position: relative;
}
.baisal_box_box{
    width: 580px;
    height: 166px;
    background: rgba(209, 169, 84, 0.90);
    position: absolute;
    bottom: 0;
}
.baisal_box_box h2{
    color: #FFF;

text-align: center;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
padding: 41px 0 20px;
}
.baisal_box_box p{
    color: #FFF;

text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 135%; 
}
.baisal_box_box:after{
    content: "";
    position: absolute;
    width: 550px;
    height: 126px;
border: 1px solid rgba(255, 255, 255, 0.50);
top: 20px;
left: 15px;
}
.baisal{
    padding: 60PX 0 169px;
}


.bais img{
    width: 160px;
    height: 87px;

}
.img2{
width: 920px;
height: 479px;
position: relative;
}
.img3{
width: 80px;
height: 80px;
position: absolute;
left: 47.3%;
bottom: 37%;
}
.izat2 p {
font-size: 14px;
font-style: normal;
font-weight: 300;
}
.welcome {
    margin: 30px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img4 {
margin: 20px;
}
.welcome2{
  margin: 30px;
}
.welcome2_2 {
display: flex;
column-gap: 10px;
}
.welcome3_3 {
  display: flex;
  column-gap: 15px;
}
.welcome4 {
  margin: 30px;
}
.welcome4_4 {
  display: flex;
  column-gap: 15px;
}
.welcome5_5{
  display: flex;
  column-gap: 15px;
}
.izat1__container {
  color: white;
}
.izat2__container {
  color: #666;
  
  align-items: center;
}

.gallery {
  margin: 200px;
  color: white;
}
.img6 {
  width: 900px;
  height: 600px;
}
.speciality {
  margin: 200px;
}









































.context {

    background: white;
    text-align: center;
    position: relative;
}

.context h6 {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
}

.context p {
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 200;
}


.swiper-slide {
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.speciality-heading{
  font-size: 40px;
  padding: 1.5rem 0;
  text-align: center;
  color: #333;
}
.speciality-heading span{
  color: #e58f00;
}
.main-box-speciality{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.main-box-speciality .box{
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 0.1rem solid var(--btn-color);
  cursor: pointer;
  border-radius: 1rem;
}
.main-box-speciality .box .image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  left: 0;
}

.main-box-speciality .box:hover .image{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}

.main-box-speciality .box .content{
  background: white;
  text-align: center;
  padding: 2rem;
}
.main-box-speciality .box .content img{
  margin: 1.5rem 0;
}
.speciality .main-box-speciality .box .content h3{
  font-size: 2.5rem;
  color:#333;
}

.speciality .main-box-speciality .box .content p{
  font-size: 1.6rem;
  color:#666;
  padding:1rem 0;
}
h1{
    text-align: center;
}




@media(max-width: 768px) {
  .bais ul {
    display: none;
  }
  .burger{
    display: none;
}
.burger.active{
    display: flex;
    height: 100vh;
    background: #80808010;
    position: fixed;
    top: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    right: 0;
    align-items: center;
    row-gap: 40px;
    z-index: 3;
}

.header__box ul{
    flex-direction: column;
    row-gap: 40px;
    
}
.header__box li{
    font-size: 20px;
    font-weight: 800;
}
.burger__btn{
    width: 40px;
    height: 4px;
    background: #E08631;
    position: fixed;
    top: 30px;
    right: 40px;
    transition: 1s;

}
.burger__btn::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #E08631;
    display: block;
    top: -10px;
    transition: 1s;

}
.burger__btn::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #E08631;
    display: block;
    top: 10px;
    transition: 1s;

}
.burger__btn.active{
    background: none;
}
.burger__btn.active::after{
    transform: rotate(-45deg);
    top: 0;
    transition: 1s;
}
.burger__btn.active::before{
    transform: rotate(45deg);
    top: 0;
    transform: 1s;
}
}